name: Check JS Code Convention

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  lint-js:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Linter (Standard JS)
        run: npm install standard --global

      - name: Run Linter
        # Перевіряє файл ProgramCode.js на відповідність стандартам
        run: standard ProgramCode.js
